body{
  font-family: 'Varela Round', sans-serif;
  text-align: center;
	margin-top: 50px;
	color: #777;
}

h2 {
	color: #00aaee;
}

.center {
	margin: 0 auto;
	width: 900px;
}

.group:after {
	display: block;
	clear: both;
	content: "";
}

.board {
  border: 2px solid #ddd;
	border-radius: 10px;
	float: left;
  display: block;
  height: 318px;
  width: 318px;
}

.square {
  border: 3px solid #ddd;
  display:block;
  height:100px;
  width:100px;
  float:left;
  text-align: center;
  font-size:72pt;
}

.left_menu {
	width: 300px;
	float: left;
}

.button {
  width: 100px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
  padding: 10px;
  text-align: center;
	margin: 50px auto 0 auto;
}

.button:hover {
  cursor: pointer;
	background: #fafafa;
}

.unclicked:hover {
  background: #eee;
}

.unclicked {
  background: #fff;
}

.clickedX {
  background: #00fff7;
	color: #fff;
}

.clickedO {
  background: #ff00f2;
	color: #fff;
}

.playerMark {
  text-align: center;
  margin:auto;
}